.contentContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border: 2px solid #1F4214;
    border-radius: 10px;
    overflow: hidden;
}

.product_img_container {
    width: 200px;
    height: 300px;
}

.product_img {
    width: 100%;
    height: 100%;  
}

.product_price,
.product_article,
.product_link {
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    color: black;
    background-color: #FFE7E7;
    border-top: 1px solid #1F4214;
    padding: 5px 0;
}

.product_link {
    text-decoration: none;
    cursor: pointer;
    padding: 10px 0;
}

