.navbarContainer {
    width: 428px;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.contentContainer {
    width: 428px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
    padding-left: 50px;
}

.title {
    font-family: MontserratLight;
    width: 100%;
    font-size: 36px;
    font-weight: 200;
    padding: 8px 0;
    text-align: left;
    letter-spacing: 0.2em;
    color: #1F4214;
    text-transform: uppercase;
}

.navbarItems {
    width: 100%;
}

.navbarItem {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.1em;
    font-weight: 300;
    text-align: left;
    padding: 13px 0;
    width: 100%;
    user-select: none;
    color: black;
}

.navbarItem a {
    text-decoration: none;
    color: black;
    position: relative;
}

.navbarItem a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    background: #9E0707;
    transition: all .3s ease;
}

.navbarItem a:hover::after {
    width: 100%;
}

.navbarItem a.active::after {
    width: 100%;
}

.groupTitle {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.groupTitle span {
    margin-right: 20px;
}

.groupArrow {
    font-size: 0;
    display: flex;
    align-items: center;
}

.groupArrow img {
    transition: transform .3s linear;
}

.arrowUp {
    transform: rotate(180deg);
}

.itemContent {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.1em;
    font-weight: 300;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-left: 40px;
    margin-top: 26px;
}

.subItem {
    width: 100%;
    padding: 13px 0;
    position: relative;
}

.subItem a::after {
    background: #1F4214;
}

.subItem::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #9E0707;
}

.disable {
    display: none;
}

@media (max-width: 1024px) {
    .navbarContainer {
        width: auto;
    }
    
    .contentContainer {
        width: auto;
        padding: 0;
    }

    .title {
        margin-top: 14px;
        text-align: center;
    }

    .navbarItem {
        text-align: center;
    }
}