.navbarContainer {
    width: 380px;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.contentContainer {
    width: 380px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
    padding-left: 50px;
}

.title {
    font-family: MontserratLight;
    width: 100%;
    font-size: 36px;
    font-weight: 200;
    padding: 8px 0;
    text-align: left;
    letter-spacing: 0.2em;
    color: #1F4214;
}

.navbarItems {
    width: 100%;
}

.navbarItem {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.1em;
    font-weight: 300;
    text-align: left;
    padding: 13px 0;
    width: 100%;
    user-select: none;
    color: black;
}

.navbarItem a {
    text-decoration: none;
    color: black;
}

.navbarItem a.active {
    text-decoration: underline;
}

.groupTitle {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.groupTitle span {
    margin-right: 20px;
}

.groupArrow {
    font-size: 0;
    display: flex;
    align-items: center;
}

.groupArrow img {
    transition: transform .3s linear;
}

.arrowUp {
    transform: rotate(180deg);
}

.itemContent {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.1em;
    font-weight: 300;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-left: 40px;
    margin-top: 26px;
}

.subItem {
    width: 100%;
    padding: 13px 0;
}

.disable {
    display: none;
}