.headerContainer {
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 100;
}

.headerBackgroundWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.headerBackgroundWrap img {
    width: 100%;
    height: 100%;
}

.headerContentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    color: black;
    position: relative;
    z-index: 2;
}

.headerLogo {
    margin-top: 27px;
}

.headerLogoWrap {
    width: 323px;
    font-size: 0;
}

.headerLogoWrap svg {
    width: 100%;
}

.headerTop {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 38px;
}

.headerTop_menu,
.headerTop_langs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerTop_menu {
    margin-right: 20px;
}

.headerTop_langs {
    padding-top: 8px;
}

.link {
    text-decoration: none;
    font-family: MontserratLight;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    margin-right: 50px;
    color: black;
    letter-spacing: 0.15em;
}

.active {
    text-decoration: underline;
}

.lang {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-left: 40px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.1em;
}

.activeLang {
    text-decoration: underline;
}

#kvitochka {
    animation: rotate 5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

