.headerContainer {
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.headerBackgroundWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.headerBackgroundWrap img {
    width: 100%;
    height: 100%;
}

.headerContentContainer {
    width: 100%;
    max-width: 2000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    color: black;
    position: relative;
    z-index: 2;
}

.headerLogo {
    margin-top: 27px;
}

.headerLogoWrap {
    width: 334px;
    font-size: 0;
}

.headerLogoWrap svg {
    width: 100%;
}

.headerTop {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 38px;
}

.headerTop_menu,
.headerTop_langs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerTop_menu {
    margin-right: 20px;
}

.headerTop_langs {
    padding-top: 8px;
}

.link {
    text-decoration: none;
    font-family: MontserratLight;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    margin-right: 50px;
    color: black;
    letter-spacing: 0.15em;
    position: relative;
}

.link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    background: #9E0707;
    transition: all .3s ease;
}

.link:hover::after{
    width: 100%;
}

.active::after {
    width: 100%;
}

.lang {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-left: 40px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.1em;
    position: relative;
}

.lang::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    background: #1F4214;
    transition: all .3s ease;
}

.lang:hover::after {
    width: 100%;
}

.activeLang::after {
    width: 100%;
}

#kvitochka {
    animation: rotate 5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

