.headerContainer {
    width: 100%;
}

.headerContentContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px calc(100/1360 * 100%);
    background-color: #FFE7E7;
    color: black;
}

.headerTop_menu,
.headerTop_langs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-right: 50px;
    color: black;
}

.active {
    text-decoration: underline;
}

.lang {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-left: 50px;
    text-transform: uppercase;
}

