.mainPageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.mainPageContentContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.headerMain {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.headerLogo {
    margin: 20px 0;
}

.headerLogoWrap {
    width: 100%;
    font-size: 0;
}

.headerBanner,
.bannerImgWrap,
.bannerImg {
    width: 100%;
}

.bannerImgWrap {
    font-size: 0;
    position: relative;
}

.bannerEllipse {
    position: absolute;
    height: 100%;
    width: calc(674/1360 * 100%);
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(158, 7, 7, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerEllipseText {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    white-space: pre;
}

.bannerTextBlock {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.bannerText {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-transform: lowercase;
    color: #9E0707;
}

#kvitochka {
    animation: rotate 5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



