.popupProductFormContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupProductFormContainer_background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

.popupProductFormContainer_contentWrap {
    width: 90vw;
    height: 90vh;
    background: white;
    position: relative;
}

#cross {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    cursor: pointer;
}

.popupProductFormContainer_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupProductFormContainer_content_slider {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.popupProductFormContainer_content_leftArrow,
.popupProductFormContainer_content_rightArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 80px;
    font-size: 0;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
}

.popupProductFormContainer_content_leftArrow:hover,
.popupProductFormContainer_content_rightArrow:hover {
    opacity: 1;
}

.popupProductFormContainer_content_leftArrow {
    left: 0;
    padding: 15px 10px 15px 5px;
}

.popupProductFormContainer_content_rightArrow {
    right: 0;
    padding: 15px 5px 15px 10px;
}

.popupProductFormContainer_content_invisibleArrow {
    visibility: hidden;
}

.popupProductFormContainer_arrowPhoto {
    width: 100%;
    height: 100%;
}

.popupProductFormContainer_content_gallery {
    width: 9999px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all .3s ease;
}

.popupProductFormContainer_content_galleryElement {
    width: 45vw;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupProductFormContainer_content_galleryPhoto {
    max-width: 100%;
    max-height: 100%;
}

.popupProductFormContainer_content_infoWrap {
    width: 50%;
    height: 100%;
    padding: 60px;
}

.popupProductFormContainer_content_info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.popupProductFormContainer_content_infoMateriales,
.popupProductFormContainer_content_infoPrice,
.popupProductFormContainer_content_infoArticle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

