.productDescriptionContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
    color: #1F4214;
}

.productDescription_title {
    text-align: center;
    font-family: MontserratLight;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 38px;
    padding: 10px;
}

.productDescription_title_link {
    text-decoration: none;
    color: #1F4214;
}

.productDescription_content {
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: MontserratLight;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 113.4%;
    letter-spacing: 0.06em;
    padding: 20px;
}

.productDescription_content > div {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.productDescription_content > div:last-child {
    margin-bottom: 0;
}